<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzs.dao.UserMapper">
    <resultMap id="UserMap" type="com.zzs.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <id column="user_name" property="userName" jdbcType="VARCHAR"></id>
        <id column="ip_address" property="ipAddress" jdbcType="VARCHAR"></id>
        <id column="uuid" property="uuid" jdbcType="VARCHAR"></id>
        <id column="password" property="password" jdbcType="VARCHAR"></id>
        <id column="is_ban" property="isBan" jdbcType="INTEGER"></id>
        <id column="is_login" property="isLogin" jdbcType="INTEGER"/>
    </resultMap>
    <update id="updateIsLoginByUuid">
        UPDATE t_user SET is_login=#{isLogin} WHERE uuid=#{uuid}
    </update>

    <select id="findByUuidAndPassword" resultMap="UserMap">
        SELECT *
        FROM t_user
        WHERE uuid = #{uuid}
          AND password = #{password}
    </select>

    <select id="findUserNameByUserName" resultMap="UserMap">
        SELECT user_name
        FROM t_user
        WHERE user_name = #{userName}
    </select>

    <select id="findIsLoginByUuid" resultType="java.lang.Boolean">
        SELECT is_login
        FROM t_user
        WHERE uuid = #{uuid}
    </select>

    <select id="findUserByUuid" resultMap="UserMap">
        SELECT *
        FROM t_user
        WHERE uuid = #{uuid}
    </select>

    <insert id="registerAccount">
        INSERT INTO t_user
            (user_name, password, ip_address, uuid)
        VALUES (#{userName}, #{password}, #{ipAddress}, #{uuid})
    </insert>
</mapper>